@charset "utf-8";


/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow. 
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following color code and add your own as this is just and 
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
  -------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following typography and add your own as this is just and 
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
   html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
   blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
   ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
   dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
   tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
   figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
    display: block;
  }


  /* Force scrollbar */
  html { overflow-y: scroll; }

  /* Align radios and text inputs with their label */

  input[type='radio'] { vertical-align: text-bottom; }

  /* Hand cursor on clickable input elements */
  label,
  input[type='button'],
  input[type='submit'],
  button {
    cursor: pointer;
  }

  strong {
    font-weight: bold;
    font-family: inherit;
    font-size: inherit;
  }

  em { font-style: italic; }

  img {
    border: 0;
    vertical-align: middle;
  }

  sub,
  sup {
   vertical-align: baseline;
   position: relative;
   font-size: 55%;
   line-height: 0;
 }

 sup { top: -.7em; }

 sub { bottom: -.25em; }

/* 1.2. Clear Fix
========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

.cf { *zoom: 1; }

/* 1.3. Font class declaration
========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start 
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */

 .futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
}


/* ======= Your Styling Goes Below ======= */
a { text-decoration: none; }
* { box-sizing: border-box; }
body { font-family: sans-serif; }
img { width: 100%; }

label {
  margin: 15px 0 10px;
  display: block;
}

.login-form-div,
.register-form-div,
.chatting-form-div,
.home-form-div {
  width: 50%;
  height: 50%;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: .25rem;
  margin: 50px auto 0;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea { 
  width: 100%; 
  padding: 10px 0;
  border: 1px solid #ced4da;
  resize: none;
}

.login,
.register,
.sendMessage,
.logout,
.search,
.chat {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  margin-top: 40px;
  float: right;
  color: #fff;
  font-size: 16px;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.login {
  margin-left: 10px;
  background-color: #28a745;
}

.register { background-color: #007bff; }
.login:hover { background-color: #006400; }
.register:hover { background-color: #008fff; }

h3 {
  padding: .75rem 1.25rem;
  margin-bottom: 15px;
  background-color: #343a40;
  color: #fff;
  font-size: 40px;
  text-align: center;
}

.home-form-div,
.chatting-form-div .message { width: 100%; }

.home-form-div + div { text-align: right; } 

.sendMessage { 
  margin-top: 0;
  background-color: #28a745; 
}

.sendMessage:hover { background-color: #006400; }

.logout {
  margin-top: 30px;
  display: inline-block;
  float: none; 
  background-color: #dc3545; 
}

.logout:hover { 
  background-color: #bd2130;
  color: #fff;
  text-decoration: none; 
}

.chatting-form-div + div { 
  width: 80%;
  margin: 0 auto;
  text-align: right; 
}

.chatting-form-div .messageArea + form textarea { width: 85%; }
.chatting-form-div .messageArea + form { margin-top: 20px; }
.chatting-form-div .messageArea + form .sendMessage { margin-top: 10px; }

.chatting-form-div .messageArea {
  width: 100%; 
  height: 500px;
  border: 1px solid blue;
  overflow: scroll;
}

.search { 
  margin-top: 0;
  background-color: #6c757d; 
}

.search:hover { background-color: #545b62; }
.chat { background-color: #007bff; }
.chat:hover { background-color: #008fff; }
